ENVIRONMENT=local
HTTP_PORT=8080
STATIC_DIR=./static

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres

DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/postgres?sslmode=disable

CRYPT_KEY=l4YTaHAAbpVNyc+1HpxabGwWLbM1J3-vsDFcRdcF0RI=
